# Example file for .env
# Rename this file and insert the data based on your development environment

DB_HOST=<your_host>
DB_USER=<your_db_user>
DB_ROOTPASSWORD=<your_root_password>
DB_PASSWORD=<your_user_password>
DB_NAME=<your_schema_name>
DB_PORT=<your_db_port>          # Usaly 3306 for MySQL. Double check your environment
